# Виртуальное окружение с установленными библиотеками
.venv/

# Временные файлы Python
__pycache__/
*.pyc

# Секретные данные и переменные окружения
.env

# Локальная база данных Django
db.sqlite3

# Настройки редакторов кода
.vscode/
.idea/